.box{
    width: 100%;
    height: 100px;
    background-color: lightblue;
}
@media (min-width: 768px) {
    .box{
        background-color: red;
    }
}
@media (min-width: 768px) {
    .li{
        list-style: none;
        text-decoration: none;
    }
}
nav ul{
   display: flex;
   justify-content: space-around;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
@media (min-width: 768px) {
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgrey;
        text-decoration: none;
    }  
}
 ul{
    list-style: none;
    text-decoration: none;
}